.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div>input {
  margin: 0.5rem;
}

.login {
  border: solid 2px #777;
  width: 50%;
  background-color: aliceblue;
}

a.text {
  text-decoration: none;
  font-weight: 700;
}

form {
  padding: 3px;
  width: 500px;
}

form input {
  background-color: #eee;
  border: green solid 2px;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

@media (max-width: 6000px) {
  body {
    transform: scale(3);
    transform-origin: top left;
  }
}

@media (max-width: 5000px) {
  body {
    transform: scale(2.5);
    transform-origin: top left;
  }
}

@media (max-width: 4000px) {
  body {
    transform: scale(2);
    transform-origin: top left;
  }
}

@media (max-width: 3000px) {
  body {
    transform: scale(1.8);
    transform-origin: top left;
  }
}

@media (max-width: 2300px) {
  body {
    transform: scale(1.6);
    transform-origin: top left;
  }
}

@media (max-width: 2000px) {
  body {
    transform: scale(1.4);
    transform-origin: top left;
  }
}

@media (max-width: 1840px) {
  body {
    transform: scale(1.2);
    transform-origin: top left;
  }
}

@media (max-width: 1440px) {
  body {
    transform: scale(1);
    transform-origin: top left;
  }
}

@media (max-width: 1152px) {
  body {
    transform: scale(0.8);
    transform-origin: top left;
  }
}

@media (max-width: 864px) {
  body {
    transform: scale(0.7);
    transform-origin: top left;
  }
}

@media (max-width: 715px) {
  body {
    transform: scale(0.6);
    transform-origin: top left;
  }
}

@media (max-width: 615px) {
  body {
    transform: scale(0.5);
    transform-origin: top left;
  }
}

@media (max-width: 515px) {
  body {
    transform: scale(0.4);
    transform-origin: top left;
  }
}

@media (max-width: 415px) {
  body {
    transform: scale(0.3);
    transform-origin: top left;
  }
}

@media (max-width: 315px) {
  body {
    transform: scale(0.2);
    transform-origin: top left;
  }
}